body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
figure {
  text-align: center;
}
nav sa{
  padding-left: 10px;
  padding-right: 10px;
  background-color: aquamarine;
}
figcaption {
  font-size:smaller ;
}
 div{
  float: left;
  background-color: blueviolet;
  text-align: center;
  min-width: 25%;
}
p{
  text-align: center;
}
#featured-property p{
  text-align: center;
  max-width: 800px;
  ;
  
}